{% extends "core/base.html" %}

{% block title %}Home{% endblock %}

{% block content %}


<section class="bg-gray-900">
    <div class="py-8 px-4 mx-auto max-w-screen-xl text-center lg:py-16">
        <h1 class="mb-4 text-3xl font-extrabold tracking-wider leading-10 md:text-5xl lg:text-7xl text-white">
            Elevando a manutenção automotiva a novos patamares
        </h1>
        <p class="mb-8 text-base font-normal lg:text-lg sm:px-16 lg:px-48 text-gray-400">
            Nosso compromisso na AutoControle é fornecer soluções de software avançadas que impulsionem a produtividade
            e a eficiência da sua oficina automotiva, maximizando a rentabilidade a longo prazo.
        </p>

        <p class="mb-8 text-base font-normal lg:text-lg sm:px-16 lg:px-48 text-gray-400">
            Transforme sua oficina com o poder da inovação digital! Experimente nosso software gratuitamente por 30 dias
            e descubra
            como podemos otimizar a gestão da sua oficina, melhorar o atendimento ao cliente e aumentar seus lucros.
        </p>
        <div class="flex flex-col space-y-4 sm:flex-row sm:justify-center sm:space-y-0 sm:space-x-4">
            <a href="{% url 'registrar' %}"
               class="inline-flex justify-center items-center py-3 px-5 text-base font-medium text-center text-white rounded-lg bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-900">
                Teste grátis
                <svg aria-hidden="true" class="ml-2 -mr-1 w-5 h-5" fill="currentColor" viewBox="0 0 20 20"
                     xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd"
                          d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z"
                          clip-rule="evenodd"></path>
                </svg>
            </a>
        </div>
    </div>
</section>

{% include 'core/feature.html' %}


{% endblock %}