{% extends 'core/base.html' %}

{% block title %}Termos de uso{% endblock %}

{% block content %}

<div class="container mx-auto max-w-screen-xl p-4">

    <div class="text-center">
        <h1 class="text-4xl my-6">Termos de Uso</h1>
    </div>

    <article class="p-4 article">

        <h1 class="!text-red-500">Site fictício. Conteúdo ilustrativo</h1>

        <p>Este é um termo de uso para o software autoControle, uma solução de gestão para oficinas de veículos,
            baseada na internet e acessível de qualquer dispositivo. Ao utilizar o software, você concorda com os
            seguintes termos e condições:</p>

        <h2>1. Licença de uso.</h2>
        <p>O software autoControle é de propriedade da empresa autoControle Ltda. (a LICENCIANTE), que concede a você (o
            LICENCIADO) uma licença de uso não-exclusiva e intransferível, pelo período contratado, para fins de estudo.
            Você não pode vender, alugar, copiar, modificar ou distribuir o software sem a autorização prévia e por
            escrito da LICENCIANTE.</p>

        <h2>2. Dados do LICENCIADO.</h2>
        <p>O software autoControle coletará os seguintes dados do LICENCIADO: nome completo, CPF, e-mail, telefone e
            endereço. A LICENCIANTE se compromete a manter os dados em sigilo, a não cedê-los a terceiros sem o
            consentimento do LICENCIADO e a apagá-los quando não houver mais necessidade de sua guarda. Os dados serão
            utilizados exclusivamente para o fornecimento do serviço, a emissão de notas fiscais e o envio de
            comunicações relacionadas ao software.</p>

        <h2>3. Direitos autorais.</h2>
        <p>O software autoControle é protegido pela Lei de Software nº 9.609/98 e pela Lei de Direitos Autorais nº
            9.610/98. Todos os direitos autorais e patrimoniais sobre o software pertencem à LICENCIANTE. O LICENCIADO
            reconhece que o software é uma obra intelectual original e se obriga a respeitar os direitos da
            LICENCIANTE.</p>

        <h2>4. Responsabilidades.</h2>
        <p>O LICENCIADO é responsável pelo uso adequado do software, seguindo as instruções e recomendações da
            LICENCIANTE. A LICENCIANTE não se responsabiliza por danos ou prejuízos causados pelo uso indevido ou
            ilícito do software, nem por eventuais falhas ou indisponibilidades do serviço, que possam ocorrer por
            motivos alheios à sua vontade ou controle.</p>

        <h2>5. Suporte técnico.</h2>
        <p>A LICENCIANTE oferece suporte técnico ao LICENCIADO por meio de canais de atendimento online, durante o
            horário comercial, para esclarecer dúvidas e resolver problemas relacionados ao funcionamento do
            software.</p>

        <h2>6. Vigência e rescisão.</h2>
        <p>Este termo de uso entra em vigor na data da contratação do serviço e permanece válido pelo período estipulado
            no contrato. O termo de uso pode ser rescindido por qualquer das partes, mediante comunicação prévia por
            escrito, com antecedência mínima de 30 dias. Em caso de rescisão antecipada por parte do LICENCIADO, não
            haverá devolução dos valores pagos antecipadamente.</p>

        <h2>7. Disposições gerais.</h2>
        <p>Este termo de uso constitui o acordo integral entre as partes e prevalece sobre qualquer outro documento ou
            comunicação anterior ou posterior relativo ao objeto deste termo. Qualquer alteração deste termo deverá ser
            feita por escrito e assinada pelas partes. Este termo é regido pelas leis brasileiras e fica eleito o foro
            da comarca de São Paulo para dirimir quaisquer questões decorrentes deste termo.</p>

    </article>

    <div class="p-4 copy">
        10 de maio de 2021 - 10:00 - Atualizado em 10 de maio de 2021 - 10:20
    </div>
</div>

{% endblock %}