{% extends 'core/base.html' %}

{% block title %}Cadastar veículo{% endblock %}

{% block content %}

<div class="container max-w-4xl py-8 mx-auto">

           <h1 class="flex space-x-2 items-center text-3xl my-4 px-4">
            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="#000000" viewBox="0 0 256 256">
                <path d="M240,112H229.2L201.42,49.5A16,16,0,0,0,186.8,40H69.2a16,16,0,0,0-14.62,9.5L26.8,112H16a8,8,0,0,0,0,16h8v80a16,16,0,0,0,16,16H64a16,16,0,0,0,16-16V192h96v16a16,16,0,0,0,16,16h24a16,16,0,0,0,16-16V128h8a8,8,0,0,0,0-16ZM69.2,56H186.8l24.89,56H44.31ZM64,208H40V192H64Zm128,0V192h24v16Zm24-32H40V128H216ZM56,152a8,8,0,0,1,8-8H80a8,8,0,0,1,0,16H64A8,8,0,0,1,56,152Zm112,0a8,8,0,0,1,8-8h16a8,8,0,0,1,0,16H176A8,8,0,0,1,168,152Z"></path>
            </svg>
            <span>
                {% if object.pk %} editar {% else %} cadastrar {% endif %} veículo
            </span>
        </h1>


<div class="px-4">
        <form method="POST">
        {% csrf_token %}

        <div class="mb-6">
            <label for="id_placa" class="block mb-2 text-sm font-medium text-gray-900">Placa:</label>
            <input type="text" id="id_placa" name="placa" maxlength="7"
                   class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-36 p-2.5"
                   value="{{ form.placa.value|default_if_none:'' }}">
            {% if form.placa.errors %}
            <div class="mt-2 text-sm text-red-600">
                {{ form.placa.errors }}
            </div>
            {% endif %}
        </div>

        <div class="mb-6">
            <label for="id_descricao" class="block mb-2 text-sm font-medium text-gray-900">Descrição:</label>
            <input type="text" id="id_descricao" name="descricao"
                   class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
                   value="{{ form.descricao.value|default_if_none:'' }}">
            {% if form.descricao.errors %}
            <div class="mt-2 text-sm text-red-600">
                {{ form.descricao.errors }}
            </div>
            {% endif %}
        </div>

        <div class="mb-6">
            <label for="id_cliente" class="block mb-2 text-sm font-medium text-gray-900">Cliente:</label>
            <select id="id_cliente" name="cliente"
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full md:w-1/3 p-2.5">
                <option value="" disabled {% if not form.cliente.value %}selected{% endif %}>Selecione um cliente
                </option>
                {% for cliente in form.cliente.field.queryset %}
                <option value="{{ cliente.pk }}" {% if form.cliente.value == cliente.pk|stringformat:"s" %} selected {% endif %}>{{ cliente }}</option>
                {% endfor %}
            </select>
            {% if form.cliente.errors %}
            <div class="mt-2 text-sm text-red-600">
                {{ form.cliente.errors }}
            </div>
            {% endif %}
        </div>

        <div class="flex space-x-6">

            <a href="{% url 'veiculos:listar' %}"
                    class="py-2.5 px-5 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-200">
                Voltar
            </a>
            <button type="submit"
                    class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 focus:outline-none">
                Salvar
            </button>
        </div>

    </form>
</div>


</div>
{% endblock %}
