<footer class="bg-white rounded-lg shadow m-4 text-center">
    <div class="w-full mx-auto max-w-screen-xl p-4 md:flex md:items-center md:justify-between">
      <span class="text-sm text-gray-500 sm:text-center">© 2023 <a href="https://flowbite.com/" class="hover:underline">AutoControle™</a>. Alguns direitos reservados.
    </span>
        <ul class="flex flex-wrap items-center justify-center mt-3 text-sm font-medium text-gray-500 sm:mt-0">
            <li>
                <a href="{% url 'quem_somos' %}" class="mr-4 hover:underline md:mr-6 ">Quem Somos</a>
            </li>
            <li>
                <a href="{% url 'termos' %}" class="mr-4 hover:underline md:mr-6">Termos de Uso</a>
            </li>
        </ul>
    </div>
</footer>

<script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.5/flowbite.min.js"></script>